*.o
moc_*.cpp
moc_*.h
ui_*.h
*.app
*.pro.user
Makefile
.DS_Store
.qmake.stash
safejumper.dmg
Safejumper.app
qrc_*.cpp
uic_wrapper.sh
buildwindows/Qt5*.dll
buildwindows/Safejumper_install.exe
buildwindows/bearer
buildwindows/iconengines
buildwindows/imageformats
buildwindows/platforms
buildwindows/translations
buildwindows/vcredist_x86.exe
buildwindows/safejumper
buildwindows/safejumper.exe
buildwindows/d3dcompiler_47.dll
buildwindows/libEGL.dll
buildwindows/libGLESV2.dll
buildwindows/opengl32sw.dll
