[Unit]
Description=shieldtra vpn daemon

[Service]
Type=forking
ExecStart=/opt/shieldtra/shieldtraservice
Restart=on-failure

[Install]
WantedBy=multi-user.target
