[Desktop Entry]
Version=1.0
Type=Application
Name=Safechecker
Comment=VPN connection tester to proxy.sh service
Exec=/opt/safechecker/safechecker
Terminal=false
Icon=safechecker
Categories=Qt;Network;
StartupNotify=true
